@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 100%;
    width: 100vw;
    background: linear-gradient(to right, #190A05, #870000);
    overflow-x: hidden;
}

.header {
    background: linear-gradient(to right, #190A05, #870000);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: .3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    background-image: url("https://i.gifer.com/8Etj.gif");
    background-size: cover;
    background-position: left;
    width: fit-content;
    height: 100%;
    border-radius: .7rem;
}

.header .h1 a {
    font-family: 'Open Sans', sans-serif;
    color: rgba(190, 84, 84, 0.9);
    text-decoration: none;
}

.header .button {
    display: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #ffcfcfe7;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    height: 3rem;
    outline: none;
    position: relative;
    width: 3rem;
}

button.active #open-cubes rect,
button.active #close-cubes rect {
    fill: hsl(0, 93%, 40%);
}

.button svg {
    position: absolute;
    left: 0;
    top: 0;
}

button svg #open-cubes rect,
button svg #close-cubes rect {
    fill: hsl(0, 88%, 10%);
    transition: fill 600ms ease;
}

button svg #close-cubes rect {
    opacity: 0;
}

.spin-in {
    animation: spin-in 1300ms ease 1 forwards 10ms;
    transform-origin: center;
}

.spin-out {
    animation: spin-out 1300ms ease 1 forwards 10ms;
    transform-origin: center;
}

@keyframes spin-in {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(720deg);
    }
}

@keyframes spin-out {
    0% {
        opacity: 1;
        transform: rotate(720deg);
    }

    100% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

.header .nav {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

.header .ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header .li {
    margin: 0 .5rem;
    padding: .3rem;
    text-align: center;
}

.header .li a {
    color: white;
    font-family: inherit;
    text-decoration: none;
}

.header .li a:hover {
    background-color: #190A05;
    font-family: 'Open Sans', sans-serif, Verdana;
}

@media screen and (max-width:535px) {
    .header .button {
        display: block;
        cursor: pointer;
    }

    .header .nav {
        width: 100%;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .nav.active {
        height: 60vh;
        pointer-events: auto;
    }

    .header .ul {
        flex-direction: column;
    }

    .header .li {
        margin: .8rem 0;
    }
}

.inicio {
    background-image: url(img/fondored.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: fit-content;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner {
    padding: 1.25rem;
    background-color: #1f0404;
    min-height: 100vh;
    max-width: fit-content;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
}

.banner__img img {
    border: .625rem solid #1f0404;
    object-fit: cover;
    width: 12rem;
    margin: 1.6rem 0;
    border-radius: 100%;
}

.banner__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner__text h1 {
    width: fit-content;
    font-size: 2.9rem;
    font-family: inherit;
    flex-wrap: nowrap;
}


.banner__text h2 {
    width: fit-content;
    font-size: 2rem;
    text-decoration: wavy;
    margin: 2rem;
    animation: shakeY 6s infinite;
}

@keyframes shakeY {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.banner__repo {
    max-width: 39%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    animation: girar 4s infinite linear;
    margin-bottom: 1.9rem;
}

.banner__repo i {
    color: rgba(190, 84, 84, 0.9);
    padding: .6rem;
}

.banner__repo a i:hover {
    transition: .6s;
    transform: scale(3);
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:535px) {
    .banner__text h1 {
        font-size: 1.5rem;
    }

    .banner__text h2 {
        font-size: 1rem;
    }
}

.banner__redes {
    justify-content: space-around;
}

.banner__redes a {
    width: 100%;
    height: fit-content;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 254, 254, 0.1);
    border-radius: 9.375rem;
    box-shadow: .5rem .5rem 1.125rem rgba(253, 147, 151, 0.155),
        -0.56rem -0.56rem 1.12rem rgba(253, 147, 151, 0.318);
    margin: 2.5rem 1rem;
    padding: .18rem;
    transition: .3s;
}

.banner__redes i:hover {
    background-color: rgba(128, 7, 11, 0.956);
    transform: scale(3);
    border-radius: .7rem;
}

.banner__redes span i {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.portfolio {
    display: flex;
    width: 100vw;
    height: fit-content;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 3.125rem 1.25rem;
    background-image: url("https://media4.giphy.com/media/yuWuZKpzdyuMMSaSaO/giphy.gif?cid=ecf05e47c1s2d7fjhi29b60qlkb8hzfcdtcjs43nisoe3k79&ep=v1_stickers_search&rid=giphy.gif&ct=s");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.portfolio h2 {
    display: flex;
    font-size: 2.375rem;
    text-align: center;
    letter-spacing: .2rem;
    padding: 1.25rem 0;
    margin: 0;
    color: hslahsl(0 0% 90%);
    text-align: center;
    --light-pos-x: 1;
    /* left: -1, center: 0, right: 1 */
    --light-pos-y: -1;
    /* top: -1, center: 0, bottom: 1 */
    --rim-size: .02ch;
    --shadow-offset: .2ch;
    --shadow-blur: .1ch;
    text-shadow:
        calc(max(var(--rim-size), 1px) * var(--light-pos-x)) calc(max(var(--rim-size), 1px) * var(--light-pos-y)) hsl(0 0% 100%),
        calc(max(var(--rim-size), 1px) * var(--light-pos-x) * -1) calc(max(var(--rim-size), 1px) * var(--light-pos-y) * -1) hsl(0 0% 60%),
        calc(var(--shadow-offset) * var(--light-pos-x) * -1) calc(var(--shadow-offset) * var(--light-pos-y) * -1) var(--shadow-blur) hsl(0 0% 50% / .75)
}

.portfolio__flex {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__grid {
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    place-items: center;
    align-self: center;
    background: rgba(84, 1, 1, 0.545);
    box-shadow: inset .4rem .4rem .8rem #681e1e,
        inset -.4rem -.4rem .8rem #3e0d0d;
    margin: auto;
    border-radius: .7rem;
}

.figure img {
    width: 100%;
    border-style: dashed;
    border-radius: .7rem;
    border-color: rgba(66, 4, 4, 0.851);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.portfolio__grid h3 {
    width: 100%;
    height: auto;
    background-color: rgba(190, 84, 84, 0.112);
    bottom: 0;
    left: 0;
    color: #fff;
    border-radius: .7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.figure:hover {
    background: linear-gradient(rgba(112, 18, 18, 0.8), rgba(181, 29, 29, .8));
    transition: 1s;
    transform: scale(0.9);
    border-radius: .7rem;
}


.skills {
    width: 100%;
    height: fit-content;
    color: #fff;
    padding: 3.125rem 1.25rem;
    display: flex;
}

.habilidades {
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: .7rem;
    box-shadow: 1.25rem 1rem 2.5rem #190A05,
        -1.25rem -1.25rem 2.5rem rgba(253, 147, 151, 0.1);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3.125rem;
}

.habilidades__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.habilidades__title h2 {
    font-size: 13vmin;
    text-align: center;
    padding: 1.25rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: .3rem;
    position: absolute;
}

.border {
    color: black;
    text-shadow:
        -1px -1px 0 #fab1b1,
        1px -1px 0 #fab1b1,
        -1px 1px 0 #fab1b1,
        1px 1px 0 #fab1b1;
}

.wave {
    color: rgba(250, 177, 177, 0.618);
    animation: shift 3s ease-in-out infinite;
}

@keyframes shift {

    0%,
    100% {
        clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }

}

.habilidades__col {
    width: 100%;
    padding: 0 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.habilidades__col ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.habilidades__col li {
    margin: 1rem;
}

.skills img {
    width: 5rem;
    animation: spin 3s infinite ease;

}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


.sobremi {
    width: 100vw;
    height: fit-content;
    position: relative;
    color: #fff;
    padding: 3.125rem 1.25rem;
    border-radius: .7rem;
    box-shadow: .3rem .3rem .375rem .5625rem rgba(0, 0, 0, 0.2);
}
.sobremi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/cora.png");
    background-position: center;
    background-size: contain;
    filter: blur(.3rem); 
    z-index: -1;
}

.sobremi__intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-style: none;
    border-radius: .7rem;
    box-shadow: 1.25rem 1rem 2.5rem #190A05,
        -1.25rem -1.25rem 2.5rem rgba(253, 147, 151, 0.1);
}

.sobremi__intro h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.375rem;
    text-align: center;
    letter-spacing: .2rem;
    padding: 1.25rem 0;
    margin: 0;
    color: hslahsl(0 0% 90%);
    text-align: center;
    --light-pos-x: 1;
    --light-pos-y: -1;
    --rim-size: .02ch;
    --shadow-offset: .2ch;
    --shadow-blur: .1ch;
    text-shadow:
        calc(max(var(--rim-size), 1px) * var(--light-pos-x)) calc(max(var(--rim-size), 1px) * var(--light-pos-y)) hsl(0 0% 100%),
        calc(max(var(--rim-size), 1px) * var(--light-pos-x) * -1) calc(max(var(--rim-size), 1px) * var(--light-pos-y) * -1) hsl(0 0% 60%),
        calc(var(--shadow-offset) * var(--light-pos-x) * -1) calc(var(--shadow-offset) * var(--light-pos-y) * -1) var(--shadow-blur) hsl(0 0% 50% / .75)
}

.sobremi__intro p {
    font-family: 'Open Sans', sans-serif, Verdana;
    font-size: 1.1rem;
    padding: .3rem;
    margin-bottom: 1.25rem;
}

.sobremi__intro p span {
    color: rgb(253, 147, 151);
    padding: .3rem;
}

.sobremi__seccion {
    max-width: 100vw;
    margin: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 1em;
    text-align: center;
    
}

.sobremi__seccion h3 {
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1.7rem;
    border-radius: 10vh;
    background-image: url("https://i.gifer.com/Xcqp.gif");
    background-position: center;
    background-size: cover;
    transition: transform 0.3s ease;
}

.sobremi__section h3:hover {
    transform: rotate(9deg);
}

.colizq,
.colder {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

.colizq {
    flex-flow: column wrap;
    margin: 1rem;
    /*background-image: url("https://dbdzm869oupei.cloudfront.net/img/sticker/preview/407.png");*/
    background-size: contain;
    background-position: center;
    object-fit: contain;
}

.animation {
    display: block;
    margin-bottom: 6rem;
    width: 30%;
}

.colizq ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

.colizq li {
    margin: .75rem 0;
    justify-content: space-between;

}

.colizq li strong {
    display: inline-block;
    color: rgb(253, 147, 151);
    width: 6rem;
}

.colizq li i {
    transition: transform 0.5s ease;
}

.colizq li i:hover {
    transform: scale(1.9);
}

.colder {
    flex-flow: column wrap;
    margin: 1rem;
    
    background-size: cover;
    background-position: center;
    border-style: none;
}


.colder__interes {
    display: flex;
    flex-direction: row;
    object-position: right;
    justify-content: right;
    flex-wrap: wrap;
    gap: 1rem;
}

.interes {
    width: 5rem;
    height: 5rem;
    gap: 0.5rem;
    background-color: #5f1c1c;
    border-radius: .625rem;
    margin: 0 .9rem .9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in;
}

.interes:hover {
    transform: rotate(-30deg);
    box-shadow: 1.25rem 1rem 2.5rem #870000,
        -1.25rem -1.25rem 2.5rem rgba(253, 147, 151, 0.1);
}

.interes i {
    font-size: 2.1rem;
    margin-bottom: .625rem;
}

@media screen and (max-width:535px) {
    .contenido__seccion p {
        font-size: 1rem;
    }

    .sobremi__seccion {
        grid-template-columns:repeat(1, 1fr);
    }

    .colder__interes {
        display: flex;
        flex-direction: row;
        object-position: center;
        justify-content: center;
        width: 100%;
    }

    .interes {
        width: 3rem;
        height: 3rem;
    }

    .interes i {
        font-size: 1.3rem;
        margin-bottom: .625rem;
    }

    .interes span {
        font-size: .7rem;
    }
}

.descarga {
    cursor: pointer;
    background-color: transparent;
    border-radius: .625rem;
    box-shadow: 1.25rem 1rem 2.5rem #870000,
        -1.25rem -1.25rem 2.5rem rgba(253, 147, 151, 0.1);
    width: fit-content;
    display: block;
    margin: 1.25rem auto;
    padding: .625rem 1.375rem;
    font-size: 2rem;
    font-family: inherit;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.descarga::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, hsla(0, 57%, 28%, 0.854) 0%, transparent 100%);
    background-size: 200% 100%;
    /* Ajusta el tamaño del gradiente al doble del ancho del elemento */
    background-position: -100% 0;
    /* Inicia el gradiente completamente a la izquierda */
    transition: background-position 1s;
}

.descarga:hover::after {
    background-position: 100% 0;
    /* Desplaza el gradiente completamente a la derecha al pasar el cursor sobre el elemento */
}

.contacto {
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f0404;
    color: #fff;
    padding: 3.125rem 1.25rem;
}

.contacto h2 {
    display: flex;
    font-size: 2.375rem;
    text-align: center;
    letter-spacing: .12rem;
    padding: 1.25rem 0;
}

.contacto__form {
    display: block;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    place-items: center;
    align-self: center;
    padding: 2rem;
    background-color: rgba(135, 0, 0, 0.5);
    border-radius: .625rem;
    box-shadow: 1.25rem 1rem 2.5rem #870000,
        -1.25rem -1.25rem 2.5rem rgba(253, 147, 151, 0.1);
    font-family: 'Open Sans', sans-serif, Verdana;
}

.campo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

label {
    font-weight: bold;
}

input,
textarea {
    padding: 0.5rem;
    background-color: rgba(190, 84, 84, 0.858);
    border-radius: .3rem;
}

input {
    border-style: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

textarea {
    border-style: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
    background-color: #1f0404;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.footer {
    background-color: rgba(135, 0, 0, 0.5);
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.span {
    color: #888;
}